@import url("https://fonts.googleapis.com/css?family=ABeeZee&display=swap");
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    overflow-x: hidden;
}
.navbar-brand{
    font-size: 3em;
    color: rgb(53, 94, 182) !important;
    font-family: 'ABeeZee';  
    font-weight: 800;
    height: 70px;
    font-size: 35px;
    padding-left: 100px;
}
.col{
    width: 100%;
    align-items: center !important;
    padding-left: 10%;
    padding-top: 5%;  
}
.form{
    padding-bottom: 20px;
    padding-top: 20px;
}
.btn{
    color: #f0f4f8;
    background-color: rgb(53, 94, 182);
}
#cep{
    width: 110px;
}
#estado{
    width: 50px;
}
#cidade{
    width: 170px;
}
#bairro{
    width: 150px;
}
#num{
    width: 80px;
}
#comp{
    padding-top: 10px;
    width: 100px;
}
#emailHelp{
    padding-bottom: 10px;
}
#exampleInputNome{
    width: 230px;
}
#exampleInputEmail1{
    width: 230px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#exampleInputPassword1{
    width: 200px;
    padding-bottom: 10px;
}
input{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
footer {
    margin-bottom: 0px !important;
    background: rgba(29, 28, 28, 0.815);
    overflow-x: hidden;
    margin-top: 40px;
    padding: 15px 100px 0px ;
}